.p111{background-color: rgba(0,0,0,0.2); width:400px; height:800px; border-radius: 15px; margin:2px; padding:5px; border: 2px solid red; font-family:AngryBirds; font-size:25px;}

.main_heading11{display:inline; width:120px; height:50px; border-radius:15px; font-size:50px; font-family:AngryBirds; padding:5px; color:#ff0900; font-size:20px;}

.input{border-radius: 15px; border:2px solid red;}

.td{background-color:#ffbd2f}


