.tab{background-color:rgba(0,0,0,0.2); padding:5px; border-radius: 20px; border; border:2px solid red; width:30%; height: 700px; font-family: AngryBirds; font-size:20px}


.tab1{background-color:rgba(0,0,0,0.2); padding:5px; border-radius: 20px; border; border:2px solid red; width:30%; height: 300px; font-family: AngryBirds; font-size:20px; padding:20px}

.tab2{background-color:rgba(0,0,0,0.2); padding:5px; border-radius: 20px; border; border:2px solid red; width:30%; height: 950px; font-family: AngryBirds; font-size:20px}